html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  outline: none;
  font-size: 1.6rem;
}
.anim750 {
  transition: all 750ms ease-in-out;
}
.peel_container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.peel_container #Awesome {
  position: relative;
  width: 280px;
  height: 180px;
  backface-visibility: hidden;
}
.peel_container #Awesome .sticky {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 280px;
  height: 180px;
}
.peel_container #Awesome .reveal .circle {
  box-shadow: inset 5px 5px 8px rgba(0, 0, 0, 0.3);
  font-family: 'helvetica neue', arial;
  font-weight: 200;
  line-height: 160px;
  text-align: center;
  cursor: pointer;
  border: black dashed 2px;
  background: white;
}
.peel_container #Awesome .circle_wrapper {
  position: absolute;
  width: 280px;
  height: 180px;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
}
.peel_container #Awesome .circle {
  position: absolute;
  width: 260px;
  height: 160px;
  margin: 10px;
  border-radius: 9px;
}
.peel_container #Awesome .darkout {
  border: black dashed 2px;
}
.peel_container #Awesome .back {
  height: 20px;
  bottom: 30px;
}
.peel_container #Awesome .back .circle {
  margin-top: 0;
  background-color: pink;
}
.peel_container #Awesome:hover .back {
  height: 180px;
  bottom: 180px;
}
.peel_container #Awesome:hover .back .circle {
  margin-bottom: 10px;
  opacity: 0;
  transition: all 750ms ease-in-out, opacity 500ms ease-out 750ms;
}
.peel_container #Awesome:hover .front {
  height: 0;
  -webkit-box-shadow: 0 -60px 10px -60px rgba(0, 0, 0, 0.1);
}
.peel_container #Awesome:hover .front .circle {
  margin-bottom: -170px;
  background-color: darkcyan;
  background-position: 0 190px;
  opacity: 0;
  transition: all 750ms ease-in-out, opacity 500ms ease-out 750ms;
}
.peel_container #Awesome:hover h4 {
  opacity: 0;
  transition: opacity 50ms linear 200ms;
}
.peel_container #Awesome .front {
  height: 150px;
  top: 0;
  bottom: auto;
  -webkit-box-shadow: 0 -160px 10px -160px rgba(0, 0, 0, 0.3);
}
.peel_container #Awesome .front .circle {
  margin-bottom: -20px;
  background: cyan;
}
.peel_container #Awesome h4 {
  font-family: 'helvetica neue', arial;
  font-weight: 200;
  text-align: center;
  position: absolute;
  width: 280px;
  height: 160px;
  line-height: 160px;
  transition: opacity 50ms linear 400ms;
}
.magazine {
  margin: 0 auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.magazine .page {
  height: 100%;
}
.magazine .page img {
  max-width: 100%;
  height: 100%;
}
